/* Set the height of the content-panel to 92vh and make it scrollable */
.content-panel {
  height: calc(100vh - 50px); /* Subtracting navbar height */
  margin-top: 50px;
  margin-left: 80px; /* Accounting for side panel width */
  width: calc(100vw - 80px);
  overflow: auto;
  background-image: url('./home2.jpeg'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: #4CAF50 solid 5px; */
}
  
/* Heading styling */
.heading {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
  
/* Container for courses */
.courses-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 120px;
  justify-content: center;
}
  
/* Styling for individual course cards */
.course-card {
  border: 1px solid white;
  border-radius: 3%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
}
  
.course-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
  
.course-details {
  padding: 15px;
}
  
.course-details h3 {
  font-size: 20px;
  margin: 10px 0;
}
  
.course-details p {
  margin: 10px 0;
}
  
.course-price {
  font-size: 18px;
  font-weight: bold;
  color: #4CAF50;
}
  
.enroll-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px;
  display: block;
  width: 100%;
  text-align: center;
}
  
.enroll-button:hover {
  background-color: #45a049;
}
