/* RegisterForm.css */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('loginback.jpg');
  background-size: cover;
  background-position: center;
}

.register-form {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.register-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
}

.register-input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
}

.register-input::placeholder {
  color: white;
}

.register-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #6e8efb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #577efb;
}

.register-signin-link {
  color: white;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.register-signin-link a {
  color: #6e8efb;
  text-decoration: none;
}

.register-signin-link a:hover {
  text-decoration: underline;
}

.register-message {
  margin-top: 10px;
  font-size: 14px;
  color: red;
  text-align: center;
}

.register-popup-message {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #4caf50; /* Green background for success */
  color: #fff; /* White text */
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.register-popup-message.error {
  background-color: #f44336; /* Red background for errors */
}

.register-popup-message.hidden {
  opacity: 0;
}