
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #DEF9C4;
  }
  
  .login-box {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .login-box h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #468585;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #468585;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  
  
  #logTitle{
      text-align: center;
      font-size: 40px;
      margin-top:10px ;
      margin-bottom:30px ;
    }

    button {
        background-color: #50B498;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 145px;
    font-size: 1rem;
    }
    button:hover {
        background-color: #468585;
    }
    #switchBtn{
        background-color: #468585;
        color: #fff;
        border: none;
        padding: 0.75rem 1.5rem;
        border-radius: 40px;
        cursor: pointer;
        margin-top: 30px;
        margin-left: 12%;
        margin-right: 10%;
        
        font-size: 1rem;
  
    }